# Python for Data Science

Exercise to analyse, visualize and present gapminde dataset.

## Instructions
To complete the miniproject, create an analysis in jupyter-notebook which does the following:

Read in the gapminder_clean.csv data as a pandas DataFrame.

Filter the data to include only rows where Year is 1962 and then make a scatter plot comparing 'CO2 emissions (metric tons per capita)' and gdpPercap for the filtered data.

On the filtered data, calculate the pearson correlation of 'CO2 emissions (metric tons per capita)' and gdpPercap. What is the Pearson R value and associated p value?

On the unfiltered data, answer "In what year is the correlation between 'CO2 emissions (metric tons per capita)' and gdpPercap the strongest?" Filter the dataset to that year for the next step...

Using plotly or bokeh, create an interactive scatter plot comparing 'CO2 emissions (metric tons per capita)' and gdpPercap, where the point size is determined by pop (population) and the color is determined by the continent.

Now, without further guidance, use your Python Data Science skills (and the correct statistical tests) to answer the following:

What is the relationship between continent and 'Energy use (kg of oil equivalent per capita)'? (Stats test needed)
Is there a significant difference between Europe and Asia with respect to 'Imports of goods and services (% of GDP)' in the years after 1990? (Stats test needed)

What is the country (or countries) that has the highest 'Population density (people per sq. km of land area)' across all years? (i.e., which country has the highest average ranking in this category across each time point in the dataset?)

What country (or countries) has shown the greatest increase in 'Life expectancy at birth, total (years)' since 1962?
For each question, you should generate summary visualizations (preferrably interactive ones) that demonstrate your answer to each question.

Additionally, the analysis must be user-friendly for a non-programmer and should intuitively convey the insights you uncovered. Use markdown to ensure that the text is organized and readable. The notebook should also be friendly for a non-programmer to read.

All code should be commited using git and pushed to your fork of the training repo on GitHub. Once you are done, let Henry know and he will check your notebook.

Load libraries

In [2]:
import pandas as pd
import matplotlib as plt
import seaborn as sbn

Load data and filter rows containing only *1962*

In [17]:
my_data = pd.read_csv("./data/gapminder_clean.csv")

my_data_1962 = my_data[my_data["Year"] == 1962] 

my_data_1962.head()

,Unnamed: 0,Country Name,Year,"Agriculture, value added (% of GDP)",CO2 emissions (metric tons per capita),Domestic credit provided by financial sector (% of GDP),Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),Exports of goods and services (% of GDP),"Fertility rate, total (births per woman)",GDP growth (annual %),Imports of goods and services (% of GDP),"Industry, value added (% of GDP)","Inflation, GDP deflator (annual %)","Life expectancy at birth, total (years)",Population density (people per sq. km of land area),"Services, etc., value added (% of GDP)",pop,continent,gdpPercap
0,0,Afghanistan,1962,NaN,0.073781,21.276422,NaN,NaN,4.878051,7.450,NaN,9.349593,NaN,NaN,33.219902,14.312061,NaN,10267083.0,Asia,853.100710
10,10,Albania,1962,NaN,1.439956,NaN,NaN,NaN,NaN,6.282,NaN,NaN,NaN,NaN,64.162854,62.456898,NaN,1728137.0,Europe,2312.888958
20,20,Algeria,1962,NaN,0.484954,NaN,NaN,NaN,19.793873,7.614,-19.685042,20.818647,NaN,2.351279,47.045000,4.908240,NaN,11000948.0,Africa,2550.816880
30,30,American Samoa,1962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.590000,NaN,NaN,NaN,NaN
40,40,Andorra,1962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.714894,NaN,NaN,NaN,NaN